html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: lightslategray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.container-header {
  margin-bottom: 3rem;
}

.flag-add {
  background: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.success {
  background-color: rgb(0, 105, 82);
  border-radius: 0.5rem;
  border: 1px solid white;
  padding: 1rem;
}

.danger {
  background-color: rgb(109, 14, 14);
  border-radius: 0.5rem;
  border: 1px solid white;
  padding: 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}
.grid div {
  width: 35px;
  height: 34px;
  padding: 1px;

  background-color: white;
  border: 1px solid #cacaca;
  -webkit-box-shadow: 5px 5px 15px 5px #a0a0a0;
  box-shadow: 5px 5px 15px 5px #7d7d7d;
}

.bomb {
  background: orangered;
}

.active {
  background-color: black;
}
.checked {
  background-color: transparent !important;
  box-shadow: 5px 5px 15px 5px #dddddd;
}
